<div class="py-4 lg:py-16 flex items-center px-6">
  <div class="text-center mx-auto inline-block">
    <h1 class="text-3xl lg:text-6xl leading-tight max-w-3xl font-bold tracking-tight mt-6 mx-auto">Ruby.  On Rails.</h1>
    <div class="my-8 p-0.5 z-1 rounded-full relative bg-gradient-to-r from-[#9867f0] to-[#ed4e50] inline-flex items-center justify-center">
      <div class=" h-full w-full bg-white rounded-full px-6 py-2">
        <span class="z-10 text-sm lg:text-base bg-clip-text text-transparent bg-gradient-to-r from-[#9867f0] to-[#ed4e50] font-semibold relative -top-px">
          And a Tailwind Ripoff
        </span>
      </div>
    </div>
    <div class="max-w-3xl mx-auto lg:text-xl text-gray-600 mt-3 leading-normal font-light">
      A React, React Native, and Firebase user's attempt to learn Ruby on Rails.  
      One small step for a developer and one giant leap away from the mess that is 
      a new JavaScript framework every other week. 
    </div>
  </div>
</div>