databases:
  - name: myapp_production
    databaseName: myapp_production
    user: dstara2

services:
  - type: web
    name: myapp_production
    env: ruby
    buildCommand: "./bin/render-build.sh"
    startCommand: "bundle exec puma -C config/puma.rb"
    envVars:
      - key: DATABASE_URL
        fromDatabase:
          name: myapp_production
          property: connectionString
      - key: RAILS_MASTER_KEY
        sync: false