<% if flash[:notice]  %>
    <div class="w-60 rounded bg-transparent border-gray-400 shadow-lg m-auto text-center px-6 py-3 relative z-10" role="alert">
        <%= flash[:notice] %>
    </div>
<% end %>

<% if flash[:alert]  %>
    <div class="w-60 rounded bg-transparent border-red-400 shadow-lg m-auto text-center px-6 py-3 relative z-10 absolute top-0 mb-4" role="alert">
        <%= flash[:alert] %>
    </div>
<% end %>